
<footer class="box_footer">

        <section class="box_foot">
            <img src="./images/logo/logo.png" title="Logo de Gastro Web" alt="Imagen de Logo de Gastro Web" /> 
            <p class="p_foot">Gastro es una plataforma dedicada a los amantes de la buena comida. 
                Descubre restaurantes, explora nuevas tendencias culinarias y encuentra 
                recomendaciones cuidadosamente seleccionadas para disfrutar de experiencias 
                gastronómicas únicas en cada ocasión.</p>

        </section>

        <section class="box_foot" id="contacto">
            <h4 class="title_des_foot">Información de contacto</h4>
            <ul>
                <li>Teléfono: +34 600 123 456 </li>
                <li>Email: info@gastro.com</li>
                <li>Dirección: Barcelona, España</li>
                <li>Horario: Lun - Dom: 9:00 - 22:00</li>
            </ul>
        </section>

        <section class="box_foot">
            <h4 class="title_des_foot">Síguenos</h4>
            <ul>
                <li><a href="#" title="Instagram">Instagram</a></li>
                <li><a href="#" title="Facebook">Facebook</a></li>
                <li><a href="#" title="Twitter">Twitter (X)</a></li>
                <li><a href="#" title="YouTube">YouTube</a></li>
            </ul>
        </section>

</footer>