
<header class="box_header">
    
    <img src="./images/logo/logo.png" title="Logo de Gastro Web" alt="Imagen de Logo de Gastro Web" /> 


    <button class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
    </button>

    <nav id="nav">
        <ul class="ul_nav">
            <li><a href="./index.html" title="Página de Inicio">Inicio</a></li>
            <li><a href="./categoria/index.html" title="Página de Categorias">Categorias</a></li>
            <li><a href="./links/index.html" title="Página de Enlaces">Enlaces</a></li> 
        </ul>
    </nav>

</header>


  