
.hero {
    background-image: url(./images/categorias/pasta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}